world/src/hospital/AdjTable/
world/src/hospital/AnesthesiaMachine/
world/src/hospital/aws_robomaker_hospital_curtain_closed_01/
world/src/hospital/aws_robomaker_hospital_curtain_half_open_01/
world/src/hospital/aws_robomaker_hospital_curtain_open_01/
world/src/hospital/aws_robomaker_hospital_elevator_01_car/
world/src/hospital/aws_robomaker_hospital_elevator_01_door/
world/src/hospital/aws_robomaker_hospital_elevator_01_portal/
world/src/hospital/aws_robomaker_hospital_floor_01_ceiling/
world/src/hospital/aws_robomaker_hospital_floor_01_floor/
world/src/hospital/aws_robomaker_hospital_floor_01_walls/
world/src/hospital/aws_robomaker_hospital_floor_02_ceiling/
world/src/hospital/aws_robomaker_hospital_floor_02_floor/
world/src/hospital/aws_robomaker_hospital_floor_02_walls/
world/src/hospital/aws_robomaker_hospital_hospitalsign_01/
world/src/hospital/aws_robomaker_hospital_nursesstation_01/
world/src/hospital/aws_robomaker_hospital_ramp_01/
world/src/hospital/aws_robomaker_residential_Carpet_01/
world/src/hospital/aws_robomaker_residential_CoffeeTable_01/
world/src/hospital/aws_robomaker_residential_KitchenCabinet_01/
world/src/hospital/aws_robomaker_residential_PortraitA_01/
world/src/hospital/aws_robomaker_residential_PortraitA_02/
world/src/hospital/aws_robomaker_residential_PortraitB_01/
world/src/hospital/aws_robomaker_residential_PortraitB_02/
world/src/hospital/aws_robomaker_residential_PortraitB_03/
world/src/hospital/aws_robomaker_residential_PortraitC_01/
world/src/hospital/aws_robomaker_residential_PortraitD_01/
world/src/hospital/aws_robomaker_residential_PortraitD_02/
world/src/hospital/aws_robomaker_residential_PortraitE_01/
world/src/hospital/aws_robomaker_residential_PortraitE_02/
world/src/hospital/aws_robomaker_residential_Refrigerator_01/
world/src/hospital/aws_robomaker_residential_Sofa_01/
world/src/hospital/aws_robomaker_residential_SofaB_01/
world/src/hospital/aws_robomaker_residential_Trash_01/
world/src/hospital/aws_robomaker_residential_TV_02/
world/src/hospital/aws_robomaker_retail_BookshelfB_01/
world/src/hospital/aws_robomaker_retail_Computer_01/
world/src/hospital/aws_robomaker_warehouse_ClutteringA_01/
world/src/hospital/aws_robomaker_warehouse_ClutteringC_01/
world/src/hospital/BedsideTable/
world/src/hospital/BedsideTable2/
world/src/hospital/BedTable/
world/src/hospital/CGMClassic/
world/src/hospital/ColBumper/
world/src/hospital/Drawer/
world/src/hospital/ElderLadyPatient/
world/src/hospital/ElderMalePatient/
world/src/hospital/ElectronicsRecycling/
world/src/hospital/ExitSign/
world/src/hospital/Extinguisher cabinet/
world/src/hospital/FemaleVisitor/
world/src/hospital/FemaleVisitorSit/
world/src/hospital/FreezerComp/
world/src/hospital/FreezerCondenser/
world/src/hospital/GarbagePileV1/
world/src/hospital/GarbagePileV2/
world/src/hospital/Handrail/
world/src/hospital/HOSPI/
world/src/hospital/HospitalPillow/
world/src/hospital/InstrumentCart1/
world/src/hospital/InstrumentCart2/
world/src/hospital/KitchenSink/
world/src/hospital/MainTable/
world/src/hospital/MalePatientBed/
world/src/hospital/Male visitor/
world/src/hospital/MaleVisitorOnPhone/
world/src/hospital/MaleVisitorSit/
world/src/hospital/ManualFireAlarmButton/
world/src/hospital/MetalCabinet/
world/src/hospital/MetalCabinetYellow/
world/src/hospital/MopCart3/
world/src/hospital/Nurse/
world/src/hospital/OfficeChairBlack/
world/src/hospital/OpScrubs/
world/src/hospital/OrangeDoors/
world/src/hospital/ParkingTrolleyMax/
world/src/hospital/ParkingTrolleyMin/
world/src/hospital/PatientFSit/
world/src/hospital/PatientWheelChair/
world/src/hospital/PotatoChipChair/
world/src/hospital/RollingWalker/
world/src/hospital/Shower/
world/src/hospital/SmallTrolley/
world/src/hospital/StorageRack/
world/src/hospital/StorageRackCovered/
world/src/hospital/StorageRackCoverOpen/
world/src/hospital/SurgicalTrolley/
world/src/hospital/SurgicalTrolleyGuards/
world/src/hospital/SurgicalTrolleyMed/
world/src/hospital/Toilet/
world/src/hospital/TrolleyBed/
world/src/hospital/TrolleyBedPatient/
world/src/hospital/TrolleyBox1/
world/src/hospital/TrolleyBox2/
world/src/hospital/VendingMachine/
world/src/hospital/VisitorChair/
world/src/hospital/VisitorKidSit/
world/src/hospital/Walker/
world/src/hospital/WalkingCane/
world/src/hospital/WhiteChipChair/
